# Python cache
__pycache__/
*.pyc
*.pyo

# Virtualenv
venv/
.env

# Ignore scripts
app/scripts/

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Secrets / credentials (do not send to Docker build context)
firebase-key.json
serviceAccountKey.json
